[Unit]
Description=NanoProxy is a simple reverse proxy written in Go
After=network.target

[Service]
EnvironmentFile=/etc/nanoproxy/nanoproxy
ExecStart=/usr/bin/nanoproxy
WorkingDirectory=/etc/nanoproxy/
Restart=always
User=root

[Install]
WantedBy=multi-user.target