name: build-release
run-name: Create Github Release for Docker Image and Binary

on:
  push:
    tags:
      - v*

permissions:
  contents: write
  packages: write
  issues: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go 1.23
        uses: actions/setup-go@v2
        with:
          go-version: 1.23

      - name: Download dependencies
        run: go mod download

      - name: Test
        run: go test -v ./...

      - name: Github Docker Login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build binaries, image and archive
        uses: goreleaser/goreleaser-action@v6
        if: success() && startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_PAT: ${{ secrets.GH_PAT }}
          FURY_TOKEN: ${{ secrets.FURY_TOKEN }}
        with:
          version: "~> v2"
          args: release --clean